PORT=3001
FRONTEND_ORIGIN=http://localhost:3000
PGHOST=localhost
PGPORT=5432
PGDATABASE=task_flow
PGUSER=postgres
PGPASSWORD=postgres
SESSION_COOKIE_NAME=taskflow_session
SESSION_TTL_DAYS=7
RESET_PASSWORD_TTL_MINUTES=60
AVATAR_MAX_SIZE_MB=2
AVATAR_UPLOADS_DIR=uploads/avatars
